<div class='col-md-12'>
    <div>Name : <editable-field field-value='character.name'></editable-field></div>
    <div>Class : <editable-field field-value='character.charClass'></editable-field></div>
    <div>Race : <editable-field field-value='character.race'></editable-field></div>
    <div>Max Health : <editable-field field-value='character.health.max'></editable-field></div>
    <div>Current Health : <editable-field field-value='character.health.current'></editable-field></div>
    <div>Temp Health : <editable-field field-value='character.health.temp'></editable-field></div>
    <health-display health='character.health' width="300"></health-display>
</div>