<div class="col-md-12">
	<ul>
		<li ng-repeat="item in allItems | orderBy:'name'">
			<button type="button" class="btn btn-default" ng-click="openEditModal(item)">{{item.name}}</button>
			<button type="button" class="btn btn-danger" ng-click="deleteItem(item)">Delete Item</button>
		</li>
		<li>
			<button type="button" class="btn btn-primary" ng-click="openNewModal()">+</button>
		</li>
	</ul>
</div>

<!-- Add Item Modal -->
<div class="modal fade" id="addItemModal" role="dialog" aria-labelledby="newItemLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title center-text" id="newItemLabel">Add New Spell</h4>
			</div>
			<div class="modal-body">
				<div>
					Item Name: <input type="text" ng-model="newItem.name"/>
				</div>
				<div>
					Item Weight: <input type="number" ng-model="newItem.weight"/>
				</div>
				<div>
					Description:
				</div>
				<div>
					<textarea rows="4" cols="50" ng-model="newItem.description"></textarea>
				</div>
			</div>
			<div class="modal-footer center-text">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary" ng-click="addItem()">Add Item</button>
			</div>
		</div>
	</div>
</div>

<!-- Edit Item Modal -->
<div class="modal fade" id="editItemModal" role="dialog" aria-labelledby="editItemLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header center-text">
				<h4 class="modal-title" id="editItemLabel">Edit Spell</h4>
			</div>
			<div class="modal-body">
				<div>
					Item Name: <input type="text" ng-model="editItem.name"/>
				</div>
				<div>
					Item Weight: <input type="number" ng-model="editItem.weight"/>
				</div>
				<div>
					Description:
				</div>
				<div>
					<textarea rows="4" cols="50" ng-model="editItem.description"></textarea>
				</div>
			</div>
			<div class="modal-footer center-text">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary" ng-click="updateItem()">Edit Item</button>
			</div>
		</div>
	</div>
</div>